@font-face {
  font-family: 'PT Root UI';
  src:
    url('../fonts/pt-root-ui_bold.woff'), url('../fonts/pt-root-ui_bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'PT Root UI';
  src:
    url('../fonts/pt-root-ui_medium.woff'),
    url('../fonts/pt-root-ui_medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'PT Root UI';
  src:
    url('../fonts/pt-root-ui_reguler.woff'),
    url('../fonts/pt-root-ui_regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'PT Root UI';
  src:
    url('../fonts/pt-root-ui_light.woff'),
    url('../fonts/pt-root-ui_light.woff2');
  font-weight: 300;
}
