* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 14.4);
}
body {
  background-color: aqua;
  font-family: 'PT Root UI';
  font-size: 18rem;
}
h1,
h2,
h3 {
  font-weight: 500;
}
.article-header,
.article-content {
  max-width: 1000rem;
  margin: 64rem auto;
}
.backlink {
  color: #5c5c66;
  font-weight: 500;
  padding: 3rem 6rem;
  transition: color ease 0.6s;
}
.backlink::before {
  content: '← ';
}
.backlink:hover {
  color: #2121f4;
}
.article-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  margin: 12rem 0;
}
.article-tag {
  font-size: 13rem;
  border-radius: 30rem;
  background-color: #f4f4f4;
  padding: 6rem 14rem;
  color: #5c5c66;
}
.article-title {
  font-size: 64rem;
  margin: 48rem 0 16rem;
}
.arcticle-lead {
  font-size: 26rem;
  line-height: 1.5;
  color: #5c5c66;
  max-width: 720rem;
}
.article-image {
  width: 100%;
  max-width: 800rem;
  margin: 0rem auto 64rem;
  display: block;
  border-radius: 18rem;
}
.article-content__title {
  font-size: 32rem;
  margin: 48rem 0 16rem;
}
.article-content__text,
.article-content--list {
  line-height: 1.6;
}
.article-content--list {
  list-style-type: square;
  margin: 16rem 0 16rem 20rem;
}
.article-conent--list span {
  font-weight: 500;
}
.article-main {
  display: flex;
  justify-content: space-between;
}
.arcticle-info {
  width: 300rem;
  height: fit-content;
  background-color: #fffbeece;
  border-radius: 18rem;
  backdrop-filter: blur(2px);
  padding: 18rem 20rem;
  position: sticky;
  top: 48rem;
  right: 40rem;
  margin: 64rem 0;
  display: flex;
  flex-direction: column;
  gap: 24rem;
}
.arcticle-info__title {
  font-size: 21rem;
}
.arcticle-info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}
.article-info__stroke {
  display: flex;
  border-bottom: 1rem solid #f9e9ae;
  padding-bottom: 16rem;
}
.article-info__stroke p {
  width: 50%;
}
